*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


header {
  display: flex;
  justify-content: space-between;
  background: rgb(95,93,125);
  background: linear-gradient(90deg, rgba(95,93,125,1) 0%, rgba(44,144,164,1) 60%, rgba(40,131,152,1) 91%);
  align-items: center;
}

header img{
  width: 100px;
  padding-left: 20px;
}

header h1{
  font-size: 24px;
  padding-right: 20px;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

main .inputFrom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

main .inputFrom input {
  height: 30px;
  border-radius: 7px;
  padding-left: 10px;
  border: 2px solid rgb(95,93,125);
  margin-bottom: 30px;
}

.inputButton {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

main .inputButton button {
  height: 40px;
  border-radius: 7px;
  background: rgb(95,93,125);
  background: linear-gradient(90deg, rgba(95,93,125,1) 0%, rgba(44,144,164,1) 60%, rgba(40,131,152,1) 91%);
  border: 2px solid rgb(95,93,125);
  margin: 0 auto;
  padding: 10px;
}

.image-section{
  width: 50%;
  margin: 0 auto;
}

.image-section img{
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
}

.image-section h2{
  width: 80%;
  color: white;
}

.image-section .top {
  position: absolute;
  top: 230px;
  margin-left: 20px;
}

.image-section .bottom {
  position: relative;
  bottom: 35px;
  margin-left: 20px;
}